*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background:#2052b7;
}
.container{
    background: linear-gradient(to right, #6a11cb, #2575fc);
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    /* padding-bottom: 100px; */
    gap:80px;
}
.main{
    /* box-sizing: border-box; */
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width:450px;
    min-height:250px;
    backdrop-filter:blur(30px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}
.main:after{
    content:"Digital Clock";
    font-size: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100px;
    height:80px;
    background-color: #215fdc;
    box-shadow:black 1px 1px 5px ;
    
    color: white;
    border-radius: 15px;
    position: absolute;
    top: -50px;
    left: -50px;
    box-sizing: border-box;
    
}



#hr,#min,#sec,.dot{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: white;
}
#hr::before{
    content:"Hours";
    font-size: 20px;
    position: fixed;
    bottom: 95px;
    left:87px;
}
#min::before{
    content:"Minutes";
    font-size: 20px;
    position: relative;
    position: fixed; 
    bottom: 95px; 
    left:190px;
}
#sec::before{
    content:"Seconds";
    font-size: 20px;
    position: fixed;
    bottom: 95px;
    left:305px;
}
button {
    padding: 10px 20px;
    background-color: #ffffff44;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition:transform 0.3s,background-color 0.3s,color 0.3s ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
button:hover {
    background-color: #ffffff66;
}
button:active{
    transform: scale(0.93);
    background-color:#ffffff;
    color: black;
}
#form{
    display: none;
    position: absolute;
    bottom: -62.5px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 25px;    
    padding: 10px 30px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease ,bottom 0.5s ease ;
}
#form.show{
    display: flex;
    opacity: 1;
    height:auto;
    bottom: -100px;
}
#form div{
    text-align: center;
}
#fst{
    border-bottom: 1px solid white;
    color:rgb(0, 255, 0);
}
#meri
{
    color: white;
    position: absolute;
    background-color: #ffffff44;
    border-radius: 8px;
    padding: 3px 7px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    bottom: 25px;
    right: 20px

}

/* ------------------------ */

#analog{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    width:450px;
    min-height:450px;
    backdrop-filter:blur(30px);
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#analog::before{
    content: "Analog clock";
    font-size: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100px;
    height:80px;
    background-color: #215fdc;
    box-shadow:black 1px 1px 5px ;
    
    color: white;
    border-radius: 15px;
    position: absolute;
    top: -50px;
    left: -50px;
    box-sizing: border-box;


}

#main_analog{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: black 0px 0px 10px;
    width:300px;
    height:300px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#centre{
    position:fixed;
    background-color: white;
    width:15px;
    height:15px;
    border-radius: 50%;
}

#hr_hand{
    height: 100px;
    background-color: #6a11cb;
    transform: rotate(30deg);
    transform-origin:2.5px 76.64px;
}

#min_hand{
    height: 120px;
    background-color: #2575fc;
    transform-origin:2.5px 97.57px;
    transform: rotate(30deg);
}

#sec_hand{
    height:140px;
    background-color: red;
    transform-origin:2.5px 118.5px;
    transform: rotate(30deg);
}

.hand{
    position: fixed;
    width:5px;
    bottom:45%;
    border-radius: 20px;
}
/* use background color to understand */
#analog span{
    /* it rotate the span by 30 degree so that each element is differ by 30 degree */
    transform: rotate(calc(30deg*var(--i)));
    position: absolute;
    inset: 80px;  /* just like top, bottom right left*/
    text-align: center;
}
#analog span b{
     /* it rotate by -30 which cancel the rotation of span */
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    color: white;
    font-size: 20px; 
}

@media screen and (max-width:1200px) {
    .container{
        flex-direction: column;
    }
}
@media screen and (max-width:600px) {
    .main{
        scale: 0.6;
    }
    #analog{
        scale: 0.6;
    }
}